= form_with(model: gallery) do |form|
  - if gallery.errors.any?
    #error_explanation
      %h2
        = pluralize(gallery.errors.count, "error")
        prohibited this gallery from being saved:
      %ul
        - gallery.errors.each do |error|
          %li= error.full_message
  .field
    = form.label :species_name
    = form.text_field :species_name
  .field
    = form.label :description
    = form.text_area :description
  .field
    = form.label :version
    = form.text_field :version
  .field
    = form.label :link
    = form.text_area :link
  .field
    = form.label :sortnumber
    = form.number_field :sortnumber
  .actions
    = form.submit
