<p id="notice"><%= notice %></p>

<p>
  <strong>Species name:</strong>
  <%= @gallery.species_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gallery.description %>
</p>

<p>
  <strong>Version:</strong>
  <%= @gallery.version %>
</p>

<p>
  <strong>Link:</strong>
  <%= @gallery.link %>
</p>

<p>
  <strong>Sortnumber:</strong>
  <%= @gallery.sortnumber %>
</p>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
